*{ margin:0; padding:0; box-sizing:border-box; }
body {
  background: url("images/vineyardcafe.jpg") no-repeat #525a6a;
  background-size: cover;
  color: white;
  font-family: 'Tangerine', serif;
  font-size: 30px;
  text-shadow: 2px 2px 2px #222;
}
.tagline {
  margin:300px 0 0 150px;
}
p {
  margin:0 0 20px 0;
}
a {
  border:2px solid #fff;
  color:#fff;
  display:block;
  padding:20px 30px;
  text-align:center;
  text-decoration:none;
  width:250px;
}
a:hover {
  background:#fff;
  color:#222;
}
