*{ margin:0; padding:0; box-sizing:border-box; }
body {
  background: url("images/vineyardcafe.jpg") no-repeat #525a6a;
  background-size: cover;
  color: white;
  font-family: 'Tangerine', serif;
  font-size: 20px;
  text-shadow: 2px 2px 2px #222;
}
.tagline {
  margin:300px 0 0 150px;
}
p {
  margin:0 0 20px 0;
}
