* { margin:0; padding:0; box-sizing:border-box; }

body {
	color: #414042;
	font-weight: 400;
	line-height: 1.8em;
	font-family: 'Raleway', sans-serif;
  	font-size: 16px;
	letter-spacing: .004em;
}
section {
	max-width: 75em;
	margin:0em auto 4em;
}
header {
	background: rgba(255,255,255,0.95);
	top:0;
	left:0;
	right:0;
}
nav {
	float:right;
	margin-top: 1.5em;
}
nav a {
	color: #60348C;
	font-family: 'Tangerine', cursive;
	font-size: 1.5em;
	letter-spacing: .02em;
	margin-right: 20px;
	padding: 1em 1em 1em 1em;
	text-align: center;
	text-decoration:none;
	width: 25em;
}
footer {
	vertical-align: bottom;
	font-family: 'Raleway', sans-serif;
	color: black;
	max-width:75em;
	margin:0 auto;
}


/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}
 
/*----- Menu -----*/
@media screen and (min-width: 960px) {
    .menu {
        width:100%;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        float:right;
    }
}
 
.menu ul {
    display:inline-block;
    float:right;
}
 
.menu li {
    margin:0px 50px 0px 0px;
    float:right;
    list-style:none;
    font-size:17px;
}
 
.menu li:last-child {
    margin-right:0px;
}
 
.menu a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#777;
    transition:color linear 0.15s;
}
 
.menu a:hover, .menu .current-item a {
    text-decoration:none;
    color:#66a992;
}
 
 
/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}
 
@media screen and (max-width: 860px) {
    .menu {
        position:relative;
        display:inline-block;
    }
 
    .menu ul.active {
        display:none;
    }
 
    .menu ul {
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }
 
    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }
 
    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }
 
    .menu a {
        display:block;
    }
 
    .toggle-nav {
        padding:20px;
        float:left;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#777;
        font-size:20px;
        transition:color linear 0.15s;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }
}

section#splash {
	background: url(images/vineyardcafe.jpeg) no-repeat center;
	background-size: cover;
	height:100vh;
	max-width:100%;
}
section#cottages {
	background-color: #f2ede3;
	max-width:100%;
	padding-top: 1em;
	padding-bottom: 1em;
}
section#weddings {
	background-color: #f2ede3;
	max-width:100%;
	padding-top: 5em;
	padding-bottom: 1em;
}
section#weddingspage {
	background-color: #f2ede3;
	max-width:100%;
	padding-top: 1em;
	padding-bottom: 1em;
}
section#weddingcouple {
	max-width:100%;
	padding-top: 1em;
	padding-bottom: 1em;
}
section#pairings {
	padding-top: .1em;
	padding-bottom: 2em;
}
section#wines {
	background-color: #f2ede3;
	max-width:100%;
	padding-top: 1em;
	padding-bottom: .5em;
}
section#hours {
	max-width:100%;
	padding-top: .1em;
	padding-bottom: .1em;
}
/* mouse over link */
nav a:hover {
	color: #4C9E42;
	text-decoration: none;
	border-radius: 3px;
	transition-duration:.2s;
}

/* selected link */
nav a:active {
    color: #D1331B;
    text-decoration: none;
}
img {}
header img {
	float:left;
	max-width: 75%;
	margin: 12px;
	display: block;
}

p {
	font-weight: 300;
	padding-bottom: .6em;
}
strong {
	font-weight:700;	
}

h1 {
	font-size: 10em;
	color: white;
	letter-spacing: .02em;
	word-spacing: .02em;
}
h1.hero {
	font-family: 'Tangerine', cursive;
	font-weight: 400;
	padding-top: 250px;
	line-height: 1.3em;
	font-size: 6em;
	margin-left: 50px;
	margin-right: 40px;
}

h2 { 
	font-family: 'Tangerine', cursive;
	font-style: normal;
	font-weight: 500;
	font-size: 3em;
	color: #92419C;
	height: 20px;
	padding-top: .2em;
	padding-bottom: 2.5em;
	letter-spacing: .08em;
	word-spacing: .13em;
}
h2.center {
	text-align: center;
}


h3 {
	font-size: 2em;
	font-style: normal;
	font-weight: 400;
	margin-bottom:.5em;
	padding-top: 1.3em;
	letter-spacing: .01em;
	word-spacing: .05em;
}

h4 {
	color:black;
	font-size: 2em;
	font-family: 'Tangerine', cursive;
	font-style: normal;
	font-weight: 300;
	padding-top: .5em;
	padding-bottom: .5em;
	letter-spacing: .04em;
}
.weddings-text h4 {
	float:left;
	font-size: 1em;
	letter-spacing: .06em;
}

footer p {
	width:50%;
	float:right;
	font-size: .7em;
	padding-top: .8em;
	padding-bottom: .2em;
	text-align:right;
	letter-spacing: .05em;
	margin-right: .6em;
}
a.cta {
	background-color:#d9ecea;
	border-radius:3px;
	color:#414042;
	display:block;
	font-family: 'Tangerine', cursive;
	margin-top: 1em;
	padding:.6em .5em .46em .5em;
	text-align:center;
	text-decoration:none;
	width:10em;
	letter-spacing: .1em;
	font-size: .8em;

}
a.cta:hover {
	background-color:#cae3e0;
	transition-duration:.2s;
}
a.more {
	color:#92419C;
	display:block;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: .05em;
	text-decoration:none;
	float:right;
	height: 24px;
}
a.more:hover {
	color:#66D15A;
	transition-duration: .2s;
}



/* Other */

blockquote {
	font-family: 'Tangerine', cursive;
	font-size:2.5em;
	padding-top: .9em;
	quotes:"\201C""\201D";
	line-height:1.6em;
}
blockquote:before {
	color:#92419C;
	content:open-quote;
	font-size:3em;
	line-height:0em;
	margin-right:.13em;
	vertical-align:-.48em;
}
blockquote:after {
	color:#92419C;
	content:close-quote;
	font-size:3em;
	line-height:0em;
	margin-left:.1em;
	vertical-align:-.47em;
}
.clearfix:after {
	visibility: hidden;
	display:block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

@media (max-width: 600px) {
}

body {
	font-size: .8em;
}

header img {
	float:left;
	max-width: 20%;
	margin: 12px;
	display: block;
}


@media only screen and (max-width: 400px) {

body {
	font-size: .8em;
}
header img {
	max-width: 90%;
	margin: 5%;
	display: block;
}


/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;

    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}




/* Fonts */

nav a {
	color: #60348C;
	font-size: 1em;
	margin: 1em;
}
h1.hero {
	font-weight: 400;
	padding-top: 200px;
	line-height: 1.3em;
	font-size: 4em;
	margin-left: 50px;
	margin-right: 40px;
}
h2 {
	margin: 5%;
}


/* HomePage */
/* Header */

section#splash {
	height:50%;
	max-width:100%;
}

/* Tasting Rooms Hours Section */

.hours-text {
	float:right;
	padding: 1em 4em 2em;
	width:50%;
}
.hours-img {
	float:left;
	width:100%;
}

/*Cottages Section*/

.cottages-img {
	float:right;
	width:25%;
}
.cottages-text {
	float:left;
	padding: 1em 4em 2em;
	width:100%;
}

/* Weddings Section */
.weddings-wrap {
	max-width:1200px;
	margin:0 auto;
}
.weddings-img {
    float: left;
    height: 50%; 
}
.weddings-text {
	float:right;
	width:50%;
}


/* Tabbed Pages */



/* Wines Page */

.wines-wrap {
	max-width:1200px;
	margin:0 auto;
	padding-top: 5em;
}
.wines-text {
	float:left;
	padding:.5em;
	width:90%;
}
.wines-img {
	float:right;
	width:50%;
}
.pairings-img {
	float:left;
	width:100%;
}
.pairings-text {
	float:top;
	width:100%;
	padding-right: 2em;
}
.tastings-img {
	float:right;
	width:25%;
}

/* Events Page */
.calendar-wrap {
	max-width:1200px;
	margin:0 auto;
}
.calendar-img {
	float:left;
	width:15%;
}
.calendar-text {
	float:right;
	padding: 1em 4em 2em;
	width:50%;
}

/* Cottages Page*/

.cottages-wrap {
	max-width:1200px;
	margin:0 auto;
}
.cottages-text {
	float:left;
	padding:.5em;
	width:95%;
}
.cottages-img {
	float:right;
	width:50%;
}

/* Weddings Page*/

.weddingspage-wrap {
	max-width:1200px;
	margin:0 auto;
	padding-top: 5em;
}
.weddingspage-img {
	float:right;
	width:50%;
	padding-top: 5em;
}
.weddingspage-text {
	float:left;
	padding-top:5em;
	width:95%;
}
.weddingsform-img {
	float:left;
	width:10%;
	padding-right: 1em;
}
.weddingsform-wrap {
	max-width:1200px;
	margin:0 auto;
}
.weddingsform-text {
	float:right;
	padding:.5em;
	width:95%;
}
.weddings-wrap {
	max-width:1200px;
	margin:0 auto;
}
.weddings1-wrap {
	max-width:1200px;
	margin:0 auto;
}
.weddings1-text {
	float:right;
	width:75%;
	padding-right: 10em;
}
.weddings1-img {
	float:right;
	width:50%;
}
.weddings2-img {
	float:right;
	width:32%;
	padding-left: 2em;
	padding-top: 1.3em;
}


