body {
  text-align: left;
  background: url("background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
}
hr
{
  width: 200px;
  align: left;
  color: red;
}
p
{
  font-size: 22px;
}
input[type="submit']
{
  background: #358df2;
  color: white;
  border: 0;
  padding: 10px;
  font-size: 18px;
}

